body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }

ul {
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
     }

li {
    display: inline;
    text-align: center;
        }

li a {
   color: gainsboro;
   font-family: Arial, Helvetica, sans-serif;

}       

h1 {
    color: grey;

}

p {
    color: grey;

}



    

