










/*=========== Nav Section Styles=========== */







li a {
   color: gainsboro;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}     


/*=========== Home Page=========== */

.main-testing {
    margin: 0 auto;
    width: 100%
}


h1 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    
    /*===========Also on Schedule Page=========== */
}

p {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
   }


/*=========== UAT Page=========== */

.uat-testing {
    margin: 0 auto;
    width: 100%
}


h1 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    
    /*===========Also on Schedule Page=========== */
}

p {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
   }

/*=========== Schedule a Consultation page=========== */

form {
    text-decoration-color: gray;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 45%;
    margin: 0 auto;
    max-width: 500px;    
}

#companyname, #firstname, #lastname, #email, #phonenumber {
    text-transform: uppercase;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="radio"]
textarea {
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: whitesmoke;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  display:block;
  margin-bottom: 0.5em;
   
}

textarea {
    background-color: whitesmoke;
    width: 480px;
    height: 150px;
    resize: none;
    border: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border-bottom: 3px solid rgba(0,0,0, 0.05);

}

.button {
  cursor: pointer;  
  font-size: 1em;
  font-weight: 300;
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  box-shadow:inset 0 1px 0 rgba(0,0,0,0.03) ;
}

input:required:focus {
    border:1px solid tomato;
}

/*===========About Page=========== */

.LI-profile-badge {
    padding-top: 1%;
    padding-left: 45%;
    padding-right: 45%;
    width: 100%;

}

/*=========== Attribute Selectors=========== */
.form-consult {
    padding: 20px 25px;	
}

#container-consult {
	max-width: 500px;
	margin: auto;
}




 


  
/*=========== Media Queries=========== */  
@media screen and (min-width: 1400px) {
    #container-consult, textarea {
		width: 90%;
    }
    
    .main-testing {
        width: auto;
    }

    LI-profile-badge {
        width: 90%;
        margin-right: 20px;
          }
    
    

    }     






    }
