body {
    background-color: floralwhite;
    }
.myname {
    color: gainsboro;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
ul {
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
     }

li {
    display: inline;
    text-align: center;
        }

li a {
   color: gainsboro;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}      


h1 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

form {
    text-decoration-color: gray;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



    

}