   /* ===========Mobile First Approach=========== */ 
header{
    background-color: black;
    width: 100%;
    right: 0;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: gainsboro;
    text-align: center;
}

/* ===========Background Color=========== */
body {
    background-color: floralwhite;
    width:
    }  


/* ===========Title - QA by Erica =========== */
.title {
    color: gainsboro;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    position: relative;
    left: 6px;  
    display: none;
    z-index: 1;
    top: 58px;
}


.mobileToggle {   /*=========== Named Menu =========== */
    background-color: black;
    color: yellow;
    position: relative;
    top: 0px;
    right: 0;
    /* width: 14px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 1%
}

div.main-nav{
    display: none;
    text-decoration: none;
    color:gainsboro;
    width: 100%;
     

}
.main-nav li{
    list-style: none;
    width: 100%;
    display: inline-block;
    padding: 24px 0px 0px 0px;
    text-align: right;
    -webkit-padding-before: 0px;
     
   

}



.nav {
    float: right;
    width: 100%;
    background: black;  
    position: relative;
    text-align: center;
    top: 4px;
    margin: 10px;
    padding: 10px;
    background-color: black;
    display: inline-block;
    

}

/*=========== Nav Link Styles=========== */
li a {
    color: gainsboro;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
 }  
a {
    text-decoration: none;
    }

a:hover {
    color: yellow;

    
}


.linkedin {
    color: gainsboro;
    font-weight: bold;
      
}
.linkedin:visited{
    color: gainsboro

}   
/*=========== Home Page=========== */

.main-testing {
    margin: 0 auto;
    width: 100%
}


h1 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    
    /*===========Also on Schedule Page=========== */
}

p {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    position: relative;
  
   }



   .uat-page {
    color: gray;
    font-weight: bold;
    text-decoration:underline;     
}

.uat-page:visited{
    color: gray

}   


.performance-page {
    color: gray;
    font-weight: bold;
    text-decoration:underline;     
}

.performance-page:visited{
    color: gray

}   

.consult-page {
    color: gray;
    font-weight: bold;
    text-decoration:underline;     
}

.consult-page:visited{
    color: gray 

}   

/*=========== UAT Page=========== */

.uat-testing {
    margin: 0 auto;
    width: 100%
}


h1 { 
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.endtest {
    color: gray;
    font-weight: bold;
    text-decoration:underline;     
}

.endtest:visited{
    color: gray

}

   /*=========== Performance Page=========== */
.performance-testing {
    margin: 0 auto;
    width: 100%;

}

.blazemeter {
    color: gray;
    font-weight: bold;
    text-decoration:underline;     
}

.blazemeter:visited{
    color: gray

}

/*=========== Schedule a Consultation page=========== */

form {
    display: table-cell;
    text-decoration-color: gray;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
    
    
}

#companyname, #firstname, #lastname, #email, #phonenumber {
    text-transform: uppercase;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="radio"]
textarea {
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: whitesmoke;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}



label {
  display:block;
  margin-bottom: 0.5em;
   
}

textarea {
    background-color: whitesmoke;
    width: 100%;
    height: 150px;
    resize: none;
    border: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border-bottom: 3px solid rgba(0,0,0, 0.05);

}



#submit {
  cursor: pointer;  
  font-size: 1em;
  font-weight: 300;
  color: grey;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  box-shadow:inset 0 1px 0 rgba(0,0,0,0.03) ;
  margin-bottom: 20px;
  margin-top: 10px;
}

input:required:focus {
    border:1px solid tomato;
}

#flashMessage {
    color:purple;
    background-color: gainsboro;
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
}

/*=========== Attribute Selectors=========== */
.form-consult {
    padding: 20px 25px;	
    width: 100%;
}

#container-consult {
	max-width: 500px;
	margin: auto;
}

     


/*=========== Media Queries=========== */
@media(max-width: 699px){
    header {
        width: 100%;
        

    }

}
@media(min-width: 700px){
    .mobileToggle{
        display: none;
    }
    .main-nav{
        display: inline-block !important;
    }
    .main-nav li{
        width: 15%;
        display: inline-block;
        padding-left: 5px;
    }

    .nav {
        
        display: inline-block;
        position: relative;
        margin: 0 auto;
        top: 10px;
        width: 100%;
    }

    footer {
        
        display: none;
      
    } 

    

  
  /* ===========Title=========== */ 
  .title {
    color: gainsboro;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    position: relative;
    left: 6px;
     
    }

.title::before,
.title::after {
    content: "";                /* ==========Pseudo-element for Title =========== */
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: gainsboro;
    margin: 0 20px; 
            
            }      


    form {
        text-decoration-color: gray;
        color: gray;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
        margin: 0 auto;
        max-width: 500px;  
  }




@media(min-width: 1600px){
    .mobileToggle{
        display: none;
    }
    .main-nav{
        display: inline-block !important;
    }
    .nav li{
        width: 10%;
        display: inline-block;
        
    }
    .nav li:first-of-type{
        margin-left: 47%;
    }



    .nav {
        float: right;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        top: 10px;
        width: 100%;
    }
}

}

footer {
    position: fixed;
    display: inline;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: gainsboro;
    text-align: left;
   
}
.contact-footer {

        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: gainsboro;
    }

@media(max-width: 699px){
    .title {
        color: gainsboro;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        float: left;
        top: 35px;
        position: relative;
        display: none;
        left: 6px;
    }

    footer {
        position: fixed;
        display: none;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: gainsboro;
        text-align: center;
    }


    header {
width: 100%;

    }
    }

    }

  